@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  background: linear-gradient(to bottom, black, rgb(23, 68, 163));
  color: #f2f2f2;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d8d9da;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
button:disabled {
  background-color: #a8bbbf;
}
